body {
  margin:0;
  padding:0;
}

@media only screen and (min-width: 426px){
  #map {
    position:absolute;
    top:0;
    bottom:0;
    width:calc(100% - 200px);
    left:200px;
  }

  .map-overlay {
    position: absolute;
    width: 200px;
    /*min-width: 200px;*/
    top: 0;
    bottom: 0;
    left: 0;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
  }

  .map-overlay input {
    display: inline;
    border: none;
    width: 75%;
    border-radius: 3px;
    padding: 10px;
    margin: 0 auto;
  }

  div #matchBox {
    width: 50%;
    padding-top: 5px;
    margin: 0 auto;
  }

  div #direction{
    width: 100%;
    margin: 0 auto;
  }

  div #direction .direction {
    width: 10px;
    padding: 0 20px;
  }

  div #direction label{
    padding-right: 2px;
  }

  .map-overlay fieldset {
    display: none;
    background: #ddd;
    border: none;
    padding: 10px 10px 5px 10px;
    margin: 0;
  }

  .map-overlay .listing {
    overflow: auto;
    max-height: calc(100% - 95px);

  }



}

@media only screen and (max-width: 425px){
  #map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height: 66%;
    left:0;

  }

  .map-overlay {
    position: absolute;
    width: 100%;
    height:34%;
    /*min-width: 200px;*/
    top: 66%;
    bottom: 0;
    left: 0;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
  }
  .map-overlay fieldset {
    /*display: inline-flex;*/
    /*align-items: center;*/
    background: #ddd;
    border: none;
    padding: 10px;
    margin: 0;
  }

  .map-overlay input {
    display: inline-block;
    border: none;
    width: 60%;
    border-radius: 3px;
    padding: 5px;
    /*margin: 0 auto;*/
  }

  div #matchBox {
    position: relative;
    top: 3px;
    /*border: 1px solid black;*/
    display: inline-flex;
    justify-content: center;
    width: 30%;
  }

  div #matchBox input {
    margin: 5px 5px 0 5px;
  }

  div #matchBox {
    width: 35%;
    padding-top: 5px;
    margin: 0 auto;
  }

  div #direction{
    width: 70%;
    margin: 0 auto;
  }

  div #direction .direction {
    position: relative;
    top: 3px;
    width: 10px;
    padding: 0 20px;

  }

  div #direction label{
    padding-right: 1%;
  }

  .map-overlay .listing {
    overflow: auto;
    max-height: calc(100% - 46px);

  }


}


p span {
  float: right;
  color: #bdbdbd;
  font-style: italic;

}

.stationInfo {
  position: absolute;
  right: 16px;
  top: 16px;
  font-family: sans-serif;
  margin-top: 5px;
  margin-left: 5px;
  padding: 5px;
  width: 20%;
  border: 2px solid black;
  font-size: 14px;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
}

#exact {
  width: 10px;
  padding: 10px;
  display: inline-block;
}

.map-overlay .listing > * {
  display: block;
  padding: 5px 10px;
  margin: 0;
}

.map-overlay .listing p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #404;
  text-decoration: none;
}

.map-overlay .listing p:last-child {
  border: none;
}

.map-overlay .listing p:hover {
  background: #f0f0f0;
}

.mapboxgl-popup-content {
  /*color: #F3F3DD;*/
  background-color: #ffffff;
  border-color: black;
  border-width:1px;
  /*box-shadow: 3px 3px 2px #8B5D33;*/
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #3f80d5;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #3f80d5;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #3f80d5;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #3f80d5;

}
